@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
	background-color: rgb(51, 37, 117);
}

body {
	user-select: none;
	background: url("../public/assets/homepageBg.jpg") center/cover,
		linear-gradient(
			329deg,
			rgba(7, 0, 0, 0.5) 9.82%,
			rgba(26, 39, 158, 0.5) 90.63%
		);
	background-blend-mode: color;

	min-height: 100vh;
	// height: fit-content;
	overflow-x: hidden;
	width: 100%;
	object-fit: contain;
	background-size: cover;
	background-position: center 15%;
	background-repeat: no-repeat;
}

@layer base {
	.my-max {
		width: min(100% - 1.25em, 75rem);
		margin-inline: auto;
	}

	.new {
		position: relative;
		&::before {
			content: "New";
			position: absolute;
			top: -13px;
			font-size: 13px;
			right: 0;
			font-weight: 700;
			color: crimson;
		}
	}

	.my-animation {
		animation: smooth 0.7s infinite alternate;
		&:hover {
			animation-play-state: paused;
		}
	}
}

@keyframes smooth {
	from {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0px);
	}
}
