@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
	background-color: rgb(51, 37, 117);
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	user-select: none;
}
img {
	display: block;
}

.hero {
	background: url("../public/assets/homepageBg.jpg"),
		linear-gradient(
			329deg,
			rgba(7, 0, 0, 0.5) 9.82%,
			rgba(26, 39, 158, 0.5) 90.63%
		);
	background-blend-mode: color;
	min-height: 100vh;

	overflow-x: hidden;
	width: 100%;
	background-size: cover;
	background-position: center 15%;
	background-repeat: no-repeat;
}

.featured {
	background: url("../public/assets/featured.jpg"),
		linear-gradient(
			329deg,
			rgba(7, 0, 0, 0.5) 9.82%,
			rgba(26, 39, 158, 0.5) 90.63%
		);
	min-height: 100vh;
	background-blend-mode: color;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.trending {
	background: url("../public/assets/Trending.jpg");
	// linear-gradient(
	// 	329deg,
	// 	rgba(7, 0, 0, 0.151) 9.82%,
	// 	rgba(26, 39, 158, 0.205) 90.63%
	// );
	min-height: 100vh;
	background-blend-mode: color;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	// background-attachment: fixed;
}

@layer base {
	.my-max {
		width: min(100% - 1.6em, 75rem);
		margin-inline: auto;
	}

	.new {
		position: relative;
		&::before {
			content: "New";
			position: absolute;
			top: -13px;
			font-size: 13px;
			right: 0;
			font-weight: 700;
			color: crimson;
		}
	}

	.my-animation {
		animation: smooth 3s linear infinite;
	}

	.scrolling-text {
		animation: scroll_left 20s linear infinite;
		white-space: nowrap;
	}
}

@keyframes scroll_left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes smooth {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
